:root{
  --main-blue:#0272c3;
  --main-yellow:#ebac02
}
.main-container{
  width: 94%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
body{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.mySwiper .swiper-pagination {
  top: 20px;
  right: 0px;
 width: unset;
  left: auto;
  height: fit-content;
}
.mySwiper  .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: unset;
}
.mySwiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  width: 7px;
  height: 7px;
}

.mySwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: var(--main-yellow);
}
@media screen and (min-width:900px) {
  .mySwiper .swiper-pagination{
    top: -5px;
  }
  .mySwiper .swiper-pagination .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
  }
}